body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
    border: 2px rgb(165, 132, 132) solid;
}
article{
    flex: 2;
    border: 2px rgb(130, 93, 93) solid;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}